#title {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
#map, #map2 {
  width: 400px;
  height: 300px;
  background-color: #CCC;
  margin: auto;
  display: inline-block;
  margin: 80px;
}
